openapi: 3.0.0

info:
  version: 0.0.1
  title: Academy Signup

servers:
  # Added by API Auto Mocking Plugin
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/Hadouken-Test/Academy/1.0.0
  - description: Development
    url: '/'

paths:
  /courses:
    post:
      summary: Adding a course
      description: Adds a new course to the system
      operationId: addCourse
      requestBody:
        description: course data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/course_form'
      responses:
        '200':
          description: course created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/course'
        '422':
          description: data validation 
          content:
            application/json:
              schema:
                $ref: 'https://nikohadouken.github.io/api-spec/common.yaml#/components/schemas/error'

  /registrations:
    post:
      summary: Adding a registration
      description: Adds a registration to the system
      operationId: addReg
      requestBody:
        description: new registrtion
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration_form'
      responses:
        '200':
          description: registration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration'
        '400':
          description: invalid request format
        '422':
          description: data validation failed

components:
  schemas:
    # course
    course_id:
      type: string
      format: uuid
      example: d290f1ee-6c54-4b01-90e6-d701748f0851

    course_type:
      type: string
      enum: ['seminar', 'training_program']
      example: seminar

    course_item:
      type: object
      properties:
        name:
          type: string
          example: Catering
        price:
          $ref: 'https://nikohadouken.github.io/api-spec/common.yaml#/components/schemas/money'
        vat_rate:
          $ref: 'https://nikohadouken.github.io/api-spec/common.yaml#/components/schemas/vat_rate'
      required:
        - name
        - price
        - vat_rate

    course:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/course_id'
        name:
          type: string
          example: Medicinal Herbs
        type:
          $ref: '#/components/schemas/course_type'
        attendee_capacity:
          type: integer
          minimum: 0
          example: 20
        date_created:
          type: string
          format: date-time
          example: '2021-01-01T20:15:00+01:00'
        date_start:
          type: string
          format: date-time
          example: '2021-02-01T20:15:00+01:00'
        items:
          oneOf:
            - type: array
            - type: object
          items:
            $ref: '#/components/schemas/course_item'
      required:
        - id
        - name
        - type
        - attendee_capacity
        - date_created
        - date_start
        - items

    course_form:
      type: object
      properties:
        name:
          type: string
          example: New Course
        type:
          $ref: '#/components/schemas/course_type'
        attendee_capacity:
          type: integer
          minimum: 0
          example: 20
      required:
        - name
        - type
        - attendee_capacity

    course_form_update:
      type: object
      properties:
        name:
          type: string
          example: New Course
        type:
          $ref: '#/components/schemas/course_type'
        attendee_capacity:
          type: integer
          minimum: 0
          example: 20

    # registration
    registration_id:
      type: string
      format: uuid
      example: d290f1ee-6c54-4b01-90e6-d701748f0851

    registration_status:
      type: string
      enum: ['pending', 'rejected', 'confirmed', 'cancelled', 'payed', 'refunded']
      example: pending

    registration:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/registration_id'
        date_created:
          type: string
          format: date-time
          example: '2021-01-01T20:15:00+01:00'
        date_modified:
          type: string
          format: date-time
          example: '2021-01-01T20:15:00+01:00'
        related_registration_id:
          $ref: '#/components/schemas/registration_id'
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        phone_number:
          type: string
          example: '(+49) 0555 1234 1234'
        billing_address:
          $ref: https://nikohadouken.github.io/api-spec/common.yaml#/components/schemas/address
        status:
          $ref: '#/components/schemas/registration_status'
        message:
          type: string
        attendees:
          oneOf:
            - type: array
            - type: object
          items:
            $ref: '#/components/schemas/attendee'
      required:
        - id
        - date_created
        - date_modified
        - first_name
        - last_name
        - email
        - billing_address
        - status
        - attendees

    registration_form:
      type: object
      properties:
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
      required:
        - first_name
        - last_name
        - email
        - billing_address

    registration_form_update:
      type: object
      properties:
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: john.doe@example.com

    # attendee
    attendee_id:
      type: string
      format: uuid
      example: d290f1ee-6c54-4b01-90e6-d701748f0851

    attendee:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/attendee_id'
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        phone_number:
          type: string
          example: '(+49) 0555 1234 1234'
        address:
          $ref: https://nikohadouken.github.io/api-spec/common.yaml#/components/schemas/address
      required:
        - id
        - first_name
        - last_name
        - email

    attendee_form:
      type: object
      properties:
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        phone_number:
          type: string
          example: '(+49) 0555 1234 1234'
        address:
          $ref: https://nikohadouken.github.io/api-spec/common.yaml#/components/schemas/address
      required:
        - first_name
        - last_name
        - email

    attendee_form_update:
      type: object
      properties:
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        phone_number:
          type: string
          example: '(+49) 0555 1234 1234'
        address:
          $ref: https://nikohadouken.github.io/api-spec/common.yaml#/components/schemas/address
