openapi: 3.0.0

info:
  version: 0.0.2
  title: Academy Signup X

servers:
  - description: Development Test
    url: '/'

paths:
  /courses:
    post:
      summary: Adding a course
      description: Adds a new course to the system
      operationId: addCourse
      requestBody:
        description: course data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/course_form'
      responses:
        '200':
          description: course created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/course'
        '422':
          description: data validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /registrations:
    post:
      summary: Adding a registration
      description: Adds a registration to the system
      operationId: addReg
      requestBody:
        description: new registrtion
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration_form'
      responses:
        '200':
          description: registration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration'
        '400':
          description: invalid request format
        '422':
          description: data validation failed
            
components:
  schemas:
    $ref: 'schemas.yaml'